<div class="row">
    <div class="col">
        <div class="form-row mb-1">
            <div class="col-lg-1 col-md-3 col-sm-4">
                <label class="col-form-label" for="project-name-input">Name:</label>
            </div>
            <div class="col">
                <input id="project-name-input" class="form-control" type="text" size="50" value="{{ project['Name'] }}">
            </div>
        </div>
        <div class="form-row mb-1">
            <div class="col-lg-1 col-md-3 col-sm-4">
                <label class="col-form-label" for="project-status-select">Status:</label>
            </div>
            <div class="col-auto mr-4">
                <select id="project-status-select" class="selectpicker" data-width="150px">
                    <option value="Live" {% if project['Status'] == 'Live' %}selected{% endif %}>Live</option>
                    <option value="Test" {% if project['Status'] == 'Test' %}selected{% endif %}>Test</option>
                </select>
            </div>
        </div>
        <div class="form-row mb-1">
            <div class="col-lg-1 col-md-3 col-sm-4">
                <label class="col-form-label" for="project-datasets-select">Datasets:</label>
            </div>
            <div class="col">
                <select id="project-datasets-select" class="selectpicker" title="Choose one or more Datasets" 
                data-actions-box="true" data-selected-text-format="count > 5" data-live-search="true" data-width="400px" data-size="10" multiple>
                </select>
            </div>
        </div>
        <div class="form-row mb-1">
            <div class="col-lg-1 col-md-3 col-sm-4">
                <label class="col-form-label" for="project-notes-input">Notes:</label>
            </div>
            <div class="col">
                <textarea id="project-notes-input" class="form-control" cols="50" rows="3">{{ project['Notes'] }}</textarea>
            </div>
        </div>
    </div>
</div>
