
<div class="modal" id="stock-ranking-report-modal" tabindex="-1" role="dialog" aria-labelledby="stock-ranking-report-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Generate Stock Ranking Report</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <select id="stock-ranking-report-strategy-select" class="selectpicker" data-size="15" data-actions-box="true"
                    data-selected-text-format="count > 1" data-live-search="true" data-width="100%">
                </select>
            </div>
            <div class="modal-footer">
                <button id="stock-ranking-report-modal-submit-button" type="button" class="btn btn-primary"
                    data-dismiss="modal">Generate Report</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <div class="d-flex">
            <div class="btn-group" role="group" aria-label="Start/stop Run">
                <button id="start-project-run-button" type="button" class="btn btn-primary">Start</button>
                <button id="stop-project-run-button" type="button" class="btn btn-primary" disabled>Stop</button>
            </div>
            <div id="project-run-progress" class="spinner-border text-primary ml-3" role="status" hidden></div>
            <div id="project-run-complete" class="h5 ml-3 my-2 py-0" role="status" hidden>Run Complete</div>
            <div class="ml-auto">
                <button id="project-run-reset-button" type="button" class="btn btn-warning">Clear Results</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-auto mb-3">
        <div class="h5 my-2 py-0">Excel Reports:</div>
    </div>
    <div class="col mb-3">
        <div class="d-flex align-content-start flex-wrap">
            <div class="ml-2" hidden>
                <button id="project-excel-export-stock-selection-button" class="btn btn-primary project-excel-export-button" type="button">
                    Ticker Selection
                    <span class="spinner-border spinner-border-sm button-progress-spinner ml-1" role="status" hidden></span>
                </button>
            </div>
            <div class="ml-2">
                <button id="project-excel-export-factors-disabled-button" class="btn btn-primary project-excel-export-button" type="button">
                    Factors Disabled
                    <span class="spinner-border spinner-border-sm button-progress-spinner ml-1" role="status" hidden></span>
                </button>
            </div>
            <div class="ml-2" hidden>
                <button id="project-excel-export-driver-param-selection-button" class="btn btn-primary project-excel-export-button" type="button">
                    Outlier Selection
                    <span class="spinner-border spinner-border-sm button-progress-spinner ml-1" role="status" hidden></span>
                </button>
            </div>
            <div class="ml-2">
                <button id="project-excel-export-factor-clusters-button" class="btn btn-primary project-excel-export-button" type="button">
                    Factor Clusters
                    <span class="spinner-border spinner-border-sm button-progress-spinner ml-1" role="status" hidden></span>
                </button>
            </div>
            <div class="ml-2">
                <button id="project-excel-export-driver-factor-weights-button" class="btn btn-primary project-excel-export-button" type="button">
                    Factor Correlation
                    <span class="spinner-border spinner-border-sm button-progress-spinner ml-1" role="status" hidden></span>
                </button>
            </div>
            <div class="ml-2">
                <button id="project-excel-export-factor-filter-button" class="btn btn-primary project-excel-export-button" type="button">
                    Factor Filter
                    <span class="spinner-border spinner-border-sm button-progress-spinner ml-1" role="status" hidden></span>
                </button>
            </div>
            <div class="ml-2">
                <button id="project-excel-export-combinations-button" class="btn btn-primary project-excel-export-button" type="button">
                    Combinations
                    <span class="spinner-border spinner-border-sm button-progress-spinner ml-1" role="status" hidden></span>
                </button>
            </div>
            <div class="ml-2">
                <button id="project-excel-export-analysis-button" class="btn btn-primary btn-block project-excel-export-button" type="button">
                    Analysis
                    <span class="spinner-border spinner-border-sm button-progress-spinner ml-1" role="status" hidden></span>
                </button>
            </div>
            <div class="ml-2">
                <button id="project-excel-export-stock-ranking-button" class="btn btn-primary btn-block project-excel-export-button" type="button" data-toggle="modal" data-target="#stock-ranking-report-modal">
                    Stock Ranking
                    <span class="spinner-border spinner-border-sm button-progress-spinner ml-1" role="status" hidden></span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="h4">Run History</div>
        <table id="project-run-history-table" class="table table-sm data-table w-100" cellspacing="0">
        </table>
    </div>
</div>